
<div class="container">
    <div class="example-container mat-elevation-z8">
        <div class="example-header bg-secondary text-white">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                    </mat-form-field>
                </div>
                <div class="col-md-6 text-right">
                    <button mat-mini-fab color="accent" (click)="addDialog()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>
            
        </div>
        
        <mat-table #table [dataSource]="dataSource" matSort>
        
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="userId">
                <mat-header-cell *matHeaderCellDef mat-sort-header> User Id </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.userId}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.title | slice:0:6}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="body">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Content </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.body | slice:0:6}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="button">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element" class="text-right">
                    <button mat-mini-fab color="primary" (click)="viewDialog(element.id)">
                        <mat-icon>visibility</mat-icon>
                    </button>
                    <button mat-mini-fab color="primary" (click)="editDialog(element.id)">
                        <mat-icon>mode_edit</mat-icon>
                    </button>
                    <button mat-mini-fab color="warn" (click)="deleteDialog(element.id)">
                        <mat-icon>clear</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            <div>test</div>
        </mat-table>
        <mat-paginator #paginator
            [pageSize]="5"
            [pageSizeOptions]="[5, 10, 20]">
        </mat-paginator>
    </div>
</div>