<form (ngSubmit)="onSubmit(newForm.value)" [formGroup]="newForm">
    <div mat-dialog-content>
        <h2>Add Post</h2>
        <div class="form-group">
            <mat-form-field>
                <input type="number" matInput formControlName="userId" placeholder="User Id" required numeric>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <textarea matInput formControlName="title" placeholder="Title" required></textarea>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <textarea matInput formControlName="body" placeholder="Content" required></textarea>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="text-right">
        <a mat-raised-button color="warn" (click)="onNoClick()">Cancel</a>
        <div *ngIf="!id">
            <button mat-raised-button color="primary]" >Add</button>
        </div>
    </div>
</form>